body {
  margin: 0;
  padding: 0;
  font-family: 'Staatliches', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: teal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn {
  width: 180px;
  height: 50px;
  padding: 5px 10px;
  color: white;
  background-color: transparent;
  margin-top: 40px;
  font-size: 1.5em;
  cursor: pointer;
}

.btn:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}